
.DS_Store
.idea/$CACHE_FILE$
.idea/compiler.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/e168a3b4-a0a7-43ec-8bb2-50158972e529.xml
.idea/dataSources/e168a3b4-a0a7-43ec-8bb2-50158972e529/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/deltaUtilsSettings.xml
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.user.ini
**/config.php
**/constants.php
AGC - Gest.iml
core/error_log
error_log
file/document/4e6aIJnKMHFpMzdXbq7Z.png
file/personal_photos/7RVEa77W6qZg22jlYzQX.jpg
file/personal_photos/Ausili.jpg
file/personal_photos/Babbucci.jpg
file/personal_photos/Bertolini.jpg
file/personal_photos/Buda.jpg
file/personal_photos/BudaM.jpg
file/personal_photos/byW7ZKI1MqvDvia1cpba.png
file/personal_photos/Cacciamani.jpg
file/personal_photos/Campaniello.jpg
file/personal_photos/Capobianco.jpg
file/personal_photos/Capoferro.jpg
file/personal_photos/Cecchini.jpg
file/personal_photos/DeLorentis.jpg
file/personal_photos/Demofonte.jpg
file/personal_photos/DiMarco.jpg
file/personal_photos/Dollinar.jpg
file/personal_photos/DOrazio.jpg
file/personal_photos/FrascaV.jpg
file/personal_photos/Giorgiutti.jpg
file/personal_photos/Granato.JPG
file/personal_photos/Iacoppini.jpg
file/personal_photos/Iezzi.jpg
file/personal_photos/Lari.jpg
file/personal_photos/Lorentini.JPG
file/personal_photos/Maffei.jpg
file/personal_photos/Mattei.jpg
file/personal_photos/Matteucci.jpg
file/personal_photos/Millefiorini.jpg
file/personal_photos/Moranti.jpg
file/personal_photos/P289l9JI3mbAmnokZDQo.png
file/personal_photos/Quinziato.jpg
file/personal_photos/Ramundo.jpg
file/personal_photos/RicciF.jpg
file/personal_photos/Rossi.jpeg
file/personal_photos/Sacconi.jpg
file/personal_photos/Seghetti.jpg
file/personal_photos/Simonetti.jpg
file/personal_photos/ZaraL.jpg
inc/sign.png
inc/sar.xcf
inc/sar.png
inc/logoPCLazio.xcf
inc/logoPCLazio.png
inc/head_doc_model_short_data.php
inc/head_doc_model_SAR.php
inc/head_doc_model_full_data.php
inc/barcode128.php
inc/assologo.xcf
inc/sign.xcf
php.ini
php_barcode-master/barcode.php
php_barcode-master/barcode128.php
php_barcode-master/index.php
print_bar-code.php
inc/assologo.png
*.xcf
*.png
*.jpg
*.jpeg
*.pdf
*.gif
core/checklogin.php
