
.DS_Store
.idea/
*.ini
crux/config.php
crux/constants.php
crux/checklogin.php
AGC - Gest.iml
crux/error_log
error_log
inc/sign.png
inc/sar.xcf
inc/sar.png
inc/logoPCLazio.xcf
inc/logoPCLazio.png
inc/head_doc_model_short_data.php
inc/head_doc_model_SAR.php
inc/head_doc_model_full_data.php
inc/barcode128.php
inc/assologo.xcf
inc/sign.xcf
php_barcode-master/barcode.php
php_barcode-master/barcode128.php
php_barcode-master/index.php
print_bar-code.php
inc/assologo.png
*.xcf
*.png
*.jpg
*.jpeg
*.pdf
*.gif
/file/personal_photos/
