.DS_Store
*.xcf
*.jpg
*.pdf
*.png
*.jpeg
*.ini
*.iml
php_barcode-master/
inc/barcode128.php
core/config.php
core/constants.php
**/error_log
error_log
AssoGest.iml
print_bar-code.php
inc/head_doc_model_pc.php
inc/head_doc_model_full_data.php
inc/head_doc_model_pc.php
inc/head_doc_model_SAR.php
inc/head_doc_model_short_data.php
.idea